<%- include('blocks/header'); -%>
<p></p>
<form action="/v1/users/add" method="get">
	<input type="hidden" name="_csrf" value="<%= token %>">
	<button type="submit">Addd</button>
</form>
<p></p>
<hr>
<table class="users">
	<tr>
		<th>#</th>
		<th>   </th>
		<th>email</th>
		<th></th>
		<th>full name</th>
		<th></th>
	</tr>

	<% users.forEach((user, index) => { %>

	   <!-- just delimiter -->
	   	<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		<tr>
			<th><%= index + 1; %></th>
			<th></th>
			<th class="email"><%= user.email; %></th>
			<th>
				<form action="/v1/users/update/<%= user._id; %>" method="get">
					<input type="hidden" name="_csrf" value="<%= token %>">
					<button type="submit">update</button>
				</form>
			</th>
			<th class="name"><%= user.fullName; %></th>
			<th>
				<form action="/v1/users/delete/<%= user._id; %>?_method=DELETE" method="post">
					<input type="hidden" name="_csrf" value="<%= token %>">
					<button type="submit">delete</button>
				</form>
			</th>
		</tr>

	<% }); %>

</table>
<hr>
<form action="/v1/admins/logout?_method=DELETE" method="post">
	<button type="submit">Logout</button>
</form>

<%- include('blocks/footer'); -%>