<%- include('blocks/header'); -%>
<p></p>
<form action="/v1/users/add">
	<button type="submit">Addd</button>
</form>
<p></p>
<hr>
<table>
	<tr>
		<th>#</th>
		<th>   </th>
		<th><email/th>
		<th> </th>
		<th>full name</th>
		<th> </th>
	</tr>

	<% let counter = 1;
	   users.forEach((user) => { %>

	   <!-- just delimiter -->
	   	<tr>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		</tr>

		<tr>
			<th><%= counter; %></th>
			<th></th>
			<th><%= user.email; %></th>
			<th>
				<form action="/v1/users/update/<%= user._id; %>">
					<button type="submit">update</button>
				</form>
			</th>
			<th><%= user.fullName; %></th>
			<th>
				<form action="/v1/users/delete/<%= user._id; %>">
					<button type="submit">delete</button>
				</form>
			</th>
		</tr>

	<%  counter += 1; });	%>

</table>
<hr>

<%- include('blocks/footer'); -%>