<%- include('blocks/header'); -%>

<p>Upadate user:</p>

<form method="post">
	<label for="name">Name</label>
	<input type="text" id="name" name="fullName" value="<%= data[1].fullName; %>">
	<hr>
	<% if(data[2]) { %>
		<strong><%= data[2] %></strong>
	<% } %>
	<hr>
	<label for="mail">Email</label>
	<input type="text" id="mail" name="email" value="<%= data[1].email; %>">
	<p></p>
	<input type="hidden" name="_csrf" value="<%= data[0] %>">
	<button type="submit">Send</button>
</form>

<hr>

<form action="/v1/users">
	<input type="hidden" name="_csrf" value="<%= data[0] %>">
	<button type="submit">CENCEL</button>
</form>

<%- include('blocks/footer'); -%>