<%- include('blocks/header'); -%>

<p>Upadate user:</p>

<form action="?_method=PUT" method="post">
	<label for="name">Name</label>
	<input type="text" id="name" name="fullName" value="<%= user.fullName; %>">
	<hr>
	<% if(error) { %>
		<strong><%= error %></strong>
	<% } %>
	<hr>
	<label for="mail">Email</label>
	<input type="text" id="mail" name="email" value="<%= user.email; %>">
	<p></p>
	<input type="hidden" name="_csrf" value="<%= token %>">
	<button type="submit">Send</button>
</form>

<hr>

<form action="/v1/users">
	<input type="hidden" name="_csrf" value="<%= token %>">
	<button type="submit">CENCEL</button>
</form>

<%- include('blocks/footer'); -%>